@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

@import "./variables";
@import "./mixins";

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

p {
    color: #888888;
    font-weight: 300;
    font-size: 12px
}

h3 {
    font-size: 19px;
    color: $accentColor;
    font-weight: 400;
}

a {
    font-size: 14px;
    font-weight: 300;
}

@import "./header/header";
@import "./main/main";
@import "./footer/footer";