main {
    background-color: #f5f5f5;
    
    .main-container {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: auto;

        @media screen and (max-width: 992px) {
            width: 95%;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    @import "./main-left";
    @import "./main-right";
}
